@charset "UTF-8";

@font-face{
   src:url("./_fonts/bubblegum-sans-regular.otf");
    font-family:'FonteLogo';
}


p {
    text-align: justify;
    text-indent: 50px;
    color: rgb(41, 41, 41);
    font-family: Arial, Helvetica, sans-serif;
    size: 10pt;
}
body{
    background-color: rgba(238, 238, 238, 0.63);
    color: rgb(0,0,0,1);
}

div#interface{
    width: 900px;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px grey;
    padding: 10px;   /* é a margem interna*/
    background-color: rgb(255, 255, 255);
}

header#cabecalho img#icone{
    /*position: absolute;     Posição absoluta só funciona com a tela full
    left: 950px;
    top:70px;*/

    position: relative;
    left: 720px;
    top:-50px;
}

header#cabecalho h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 35pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.336);
    padding: 0px;
    margin-bottom: 0px; 
}

header#cabecalho h2{
    font-family: Arial, Helvetica, sans-serif;
    size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: 0px;
}

header#cabecalho h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    color: #888888;
    margin: 0px;
    padding: 0px;
}





header#cabecalho{
    border-bottom: 1px #606060 solid; /*largura, cor e formato*/
    height: 150px; /*altura*/
    background: url("_imagens/glass-logo-peq.jpg") no-repeat 0px 90px; /*descolamento horizontal e deslocamento vertical*/
}

header h1{
    font-family: 'FonteLogo', sans-serif;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(80, 78, 78, 0.336);
    padding: 0px;
    margin-bottom: 0px; 
    font-size: 20pt;
}

.fotolegenda{        /* quando for classe */
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
    position: relative; 
}
.fotolegenda img{
    width: 100%;
    length: 100%;
}
.fotolegenda figcaption{
    opacity: 0; /*deixa a legenda transparente*/
    position: absolute; /*posição zero dentro do .fotolegenda*/
    top: 0px;
    background-color:rgba(0,0,0,0.4);  /*fundo transparente preto */
    color: white;
    width: 100%; /*arruma o box transparente na imagem*/
    height: 100%;
    padding: 10px; /*espaço maior na legenda*/
    box-sizing: border-box; /*cria um box dentro da borda*/
    transition: opacity 1s;
}
.fotolegenda:hover figcaption{ /*cria o efeito de sobreosição*/
    opacity: 1;    /*funciona quando passar o mouse por cima*/
}


/*TABELA*/

caption#table1{
    color: #888888;
    font-size: 15pt;
    font-style: bold;
}

/*span{
    display: block;
    float: right;
    color: black;
    font-size: 8pt;
    margin-top: 0px;
}*/

table#tablespec, td, tr{
    border: 0px solid #606060;
    text-align: center;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}


td, tr{
    padding: 20px;
}

table#tablespec td.ce{
    background-color: #606060;
    color: white;
}

table#tablespec td.cd{
    background-color: #888888;
}

table#tablespec h2{
    font-size: 15px;
}

/* para usar a mesma edição em outra imagem, ela teria que estar dentro de <figure> e com a mesma classe,
ou seja, .fotolegenda*/




/* editando o menu */

nav#menu h1{
    text-transform: uppercase;
    display: none;

}


nav#menu ul{
    position: absolute;
    left: 560px;
    top: -10px;
}

nav#menu li{
    display: inline-block;
    text-transform: uppercase;
    background-color: rgb(238, 236, 236);
    padding: 5px;
    margin: 2px;
    position:relative;
    transition: background-color 0.5s;
}

nav#menu li:hover{
    background-color: rgb(196, 196, 196);
}

nav#menu a{
    color: black;
    text-decoration: none;
}

nav#menu a:hover{
    color: white;
}

section#site{
    display: block;
    width: 500px;
    float: left;
    border-right: #606060 solid 1px;
    padding-right: 20px;
}

aside#lateral{
    display: block;
    width: 340px;
    float: right;
    background-color: #c9c8c8;
    padding: 5px;
    margin: 10px;
    box-shadow:0px 0px 10px 0.5px grey;
}

aside#lateral h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
}

aside#lateral h2{
    background-color: #606060;
    color: white;
    font-size: 15pt;
    padding: 5;
}

footer#rodape{
    clear: both;      /*é o que faz toda a configuração do site ficar certa*/
    text-align: center;
    vertical-align: middle;
    border-top: 10px;
    border-top: #606060 solid 1px;
    padding-top: 20px;
}

article#principal h1{
    size: 20pt;
    color: #312f2f;
    margin: 0px;
}

article#principal h2{
    font-size: 15pt;
    color: #555353;
    background-color: #d8d3d3;
    margin: 5px 5px 0px 10px;
    padding: 10px 0px 10px 0px;
    block-size: 15px;
    vertical-align: middle;
}

article#principal h3{
    font-size: 12pt;
    color: #312f2f;
    text-align: right;
}

article#principal h4{
    color: #606060;
    font-size: 12pt;
    margin: 0px;
    padding: 0px;
}

h2{
font-family: Arial, Helvetica, sans-serif;
font-size: 20pt;
color: #555353;
background-color: #d8d3d3;
margin: 0 5 0 10;
padding: 10 0 10 0;
}


a{
    color: #606060;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/*VIDEO LATERAL*/

video#lateral{
    display: block;
    position: relative;
    left: 0px;
    width: 100%;
}

/*
video#principal{
    display: block;
    position: relative;
    top:100px;
    left: 100px;
    width: 100%;
    height: 100%;
    margin: 500px;
}*/

